.user-list-container {
  min-width: 250px;
  padding: 10px;

  @include phone {
    display: none;
  }

  .user-list {
    .user {
      align-items: center;
      display: flex;
      font-style: italic;
      padding: 15px 0;

      &:first-child {
        padding-top: 5px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $very-light-grey;
      }

      .status {
        background-color: #bbb;
        border-radius: 50%;
        height: 10px;
        margin-right: 5px;
        width: 10px;

        &.is-active {
          background-color: $pure-green;
        }
      }
    }
  }
}
