@import './mixins.scss';

$black: #000000;
$dark-grey: #808080;
$dark-grey-blue: #343a40;
$pure-green: #7cfc00;
$very-dark-grey: #555555;
$very-dark-grey-black: #232323;
$very-dark-desaturated-blue: #343a67;
$very-light-grey: #dfdfdf;
$very-soft-cyan: #add8e6;
$very-soft-violet: #bd93f9;
$vivid-blue: #0433ff;
$white: #ffffff;
$yellow: #ffe600;
