.chatroom {
  padding: 0;

  .chatroom-userlist-container {
    display: flex;

    .chats {
      background-color: $very-soft-cyan;
      flex: 1;
      height: calc(100vh - 125px);
      overflow-y: scroll;
      padding: 0;
      padding: 10px 10px 0 10px;

      &.dark-mode {
        background-color: $very-dark-desaturated-blue;
      }

      @include phone {
        height: calc(100vh - 156px);
      }

      .no-chats {
        font-style: italic;
      }

      .chat-end {
        visibility: hidden;
      }
    }
  }
}
