.register-container {
  border-bottom: 1px solid $light-grayish-blue;
  border-right: 1px solid $light-grayish-blue;
  border-left: 1px solid $light-grayish-blue;
  padding: 10px;

  &.dark-mode {
    background-color: $dark-grey-blue;

    input {
      background-color: $black;
      border: $very-soft-violet;
      color: $white;
    }
  }

  .register-form {
    padding: 10px;

    label {
      text-align: right;
    }

    button {
      margin: 0 auto;
      width: 200px;
    }
  }

  .register-header {
    text-align: center;

    @include phone {
      text-align: left;
    }
  }
}
