.login-container {
  margin: 0;
  width: 35%;

  @include desktop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include phone {
    margin-top: 10px;
    width: 100%;
  }

  &.dark-mode {
    background-color: $dark-grey-blue;

    input {
      background-color: $black;
      border: $very-soft-violet;
      color: $white;
    }
  }

  .login-header {
    text-align: center;
    margin: 0 0 20px 20px;

    @include phone {
      text-align: left;
    }
  }

  .login-form {
    padding: 20px;
  }
}
